<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="estilos.css">

  <!-- Usa la propiedad 'title' para renderizar un título de página  -->
  <title><%= title %></title>
</head>
<body>
    <!-- Mostrar mensajes Flash  -->
  <% for(var i in messages) { %>
     <div class="flash"><%= messages[i] %></div>
  <% } %>
<div id="cuerpo"
  <!-- Renderizar el formulario signin -->
  <form action="/send" method="get">

    <div>
      <p><label>dirección de correo: </label>
      <input type="text" name="to" />
 
      <input type="submit" value="enviar correo" /></p>
    </div>
  </form>
</div>
</body>
</html>