<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="estilos/estilos.css">

  <!-- Usa la propiedad 'title' para renderizar un título de página  -->
  <title><%= title %></title>
</head>
<body>
    <!-- Mostrar mensajes Flash  -->
  <% for(var i in messages) { %>
     <div class="flash"><%= messages[i] %></div>
  <% } %>
<div id="cuerpo">
  <!-- Renderizar el formulario signin -->
  <form action="/signin" method="post">
    <div>
      <p><label>Usuario:</label>
      <input type="text" name="username" /></p>
    </div>
    <div>
      <p><label>Contraseña:</label>
      <input type="password" name="password" /></p>
    </div>
    <div>
     <p><input type="submit" value="Identificarse" /></p>
    </div>
  </form>
  <a href="/auth/facebook"><img src="estilos/face.png" width="100" height="60"></a>
  <a  href="/oauth/google"><img src="estilos/google.png" width="60" height="60"></a>
  <a class="simple" href="/olvidoclave">Enviar un correo</a>
  </div>
   
   

</body>
</html>